.align-center{
margin: auto;
padding: 10px;
margin-top: 100px;

}
body{
  color: #C7C7C7;
}
button.btns
{
 border-radius: 5px;
 padding-left: 30px;
 padding-right: 30px;
 padding-top: 10px;
 padding-bottom: 10px;
 border: 2px solid #C7C7C7;
  color: rgb(121, 120, 120);
 background-color: white;
}
input.form-control-lgs
{
  border: 2px solid #C7C7C7;
  border-radius: none;
  padding: 10px;
}
input.form-control-lgs:focus
{
  border: 3px solid rgb(117, 117, 117);

}

/* new */
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 3px 0;
  box-sizing: border-box;
  border: 3px solid #C7C7C7;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=text]:focus {
  border: 3px solid #777;
}
.b{
  text-align: center;
  font-size: 50px;

  margin-bottom: 10px;
}
.l{
  display: inline-block;
  margin-bottom: .1rem;
}
