




<div class="container">
    <div class="row">
        <div class="col-sm">

          </div>
      <div class="col-sm align-center" >
          <form style="color: #707070">
              <div  class="b"> 3CX SURVEY </div> <div class="text-right" style="line-height: 0.1">MainSytem</div>
              <!-- <div class=" ">
                <label for="username">Username</label>
                <input type="username" class="form-control-lgs" id="username" aria-describedby=" " placeholder="Enter username">

              </div>
              <div class=" ">
                <label for="password">Password</label>
                <input type="password" class=" form-control-lgs" id="password" placeholder="Password">
              </div> -->
              <form>
                <label for="useramen" class="l">First Name</label>
                <input type="text" id="useramen" name="useramen" value="" placeholder="Enter username">
                <label for="password" class="l">Last Name</label>
                <input type="text" id="password" name="password" value="" placeholder="Enter password">
              </form>


              <div style="text-align: right">

                <a> <label class=" ">forget password ?</label></a>
              </div>
              <div style="text-align: right">
                  <button style="text-align: right"  type="submit" class="btns">Sign in</button>
              </div>


          </form>
      </div>
      <div class="col-sm">

      </div>
    </div>
  </div>
