




<div class="container">
    <div class="row">
        <div class="col-sm">

          </div>
      <div class="col-sm align-center" >
          <form style="color: #707070">
              <div style="text-align: center"><b style="font-size: 250%; ">3CX SURVEY</b></div>
              <div class="form-group">
                <label for="username">Username</label>
                <input type="username" class="form-control form-control-lgs" id="username" aria-describedby=" " placeholder="Enter username">
                <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control form-control-lg" id="password" placeholder="Password">
              </div>
              <div style="text-align: right">

                <label class=" ">forget password ?</label>
              </div>
              <div style="text-align: right">
                  <button style="text-align: right"  type="submit" class="btns">Sign in</button>
              </div>


          </form>
      </div>
      <div class="col-sm">

      </div>
    </div>
  </div>
