/* .flex-container {
  display: flex;
  justify-content: center;

}

.flex-container > div {

  width: 350px;
  margin: 10px;
  top: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 50px;
  padding: 30px;
  color: #707070;
} */

.b1{
  cursor: pointer;
  font-size: 50px;
  color: #707070;
  margin: 0 auto;
  text-align: center;
  margin-left: 100px;
   
}
.b2{
  cursor: pointer;
  font-size: 50px;
  color: #707070;
  text-align: center;
  margin: 0 auto;
  margin-right: 100px;

}
